<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "The Middleman" %></title>
    <link href='http://fonts.googleapis.com/css?family=Istok+Web|Roboto' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <h1>Soluções Educacionais Saraiva</h1>

      <nav>
        <ul class="menu">
          <li class="solutions"><a href="#solutions">Conheça as soluções</a>
            <ul>
              <li><%= link_to "Aprendizagem adaptiva", "aprendizagem-adaptiva" %></li>
              <li><%= link_to "Biblioteca digital", "biblioteca-digital" %></li>
              <li><%= link_to "EAD - Conteúdo e metodologia para educação a distância", "educacao-a-distancia" %></li>
              <li><%= link_to "SET - Saraiva Sistema de Ensino Técnico", "ensino-tecnico" %></li>
              <li><%= link_to "SSA - Saraiva Solução de aprendizagem", "ssa" %></li>
            </ul>
          </li>
          <li><%= link_to "contato", "contato" %></li>
          <li><%= link_to "FAQ", "faq" %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <h1>Saraiva</h1>

      <nav>
        <li><%= link_to "contato", "contato" %></li>
        <li><%= link_to "FAQ", "faq" %></li>
      </nav>

      <p class="copyright">Copyright ©2014. Editora Saraiva. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
