<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Saraiva" %></title>
    <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700|Roboto:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
    <%= yield_content :stylesheets %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <div class="content">
        <h1 class="logo">
          <%= link_to (image_tag("logo.png")), "/", title: "Soluções Educacionais Saraiva" %>
        </h1>

        <nav>
          <ul class="menu">
            <li><a href="#solutions" class="solutions">Conheça as soluções <%= fa_icon "caret-down" %></a>
              <ul>
                <li class="aprendizagem-adaptiva"><%= link_to "Aprendizagem adaptiva", "aprendizagem-adaptiva.html", title: "Aprendizagem adaptiva" %></li>
                <li class="biblioteca-digital"><%= link_to "Biblioteca digital", "biblioteca-digital.html", title: "Biblioteca digital" %></li>
                <li class="ead"><%= link_to "EAD - Conteúdo e metodologia para educação a distância", "educacao-a-distancia.html", title: "EAD - Conteúdo e metodologia para educação a distância" %></li>
                <li class="set"><%= link_to "SET - Saraiva Sistema de Ensino Técnico", "ensino-tecnico.html", title: "SET - Saraiva Sistema de Ensino Técnico" %></li>
                <li class="ssa"><%= link_to "SSA - Saraiva Solução de aprendizagem", "ssa.html", title: "SSA - Saraiva Solução de aprendizagem" %></li>
              </ul>
            </li>
            <li><%= link_to "Contato", "contato", class: "contact" %></li>
            <li><%= link_to "FAQ", "faq", class: "faq" %></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="content">
        <h2 class="logo-saraiva"><%= image_tag "logo-saraiva.png", alt: "Logo Saraiva" %></h2>

        <nav>
          <ul>
            <li><%= link_to "Contato", "contato" %></li>
            <li><%= link_to "FAQ", "faq" %></li>
          </ul>
        </nav>
      </div>

      <div class="copyright">
        <p>Copyright ©2014. Editora Saraiva. Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>
