<nav class="side-navigation">
  <ul>
    <li class="aprendizagem-adaptiva"><%= link_to "Aprendizagem Adaptativa", "aprendizagem-adaptiva.html", class: page_classes === "aprendizagem-adaptiva" ? "active" : "" %></li>
    <li class="biblioteca-digital"><%= link_to "Bibliotéca Digital", "biblioteca-digital.html", class: page_classes === "biblioteca-digital" ? "active" : "" %></li>
    <li class="ead"><%= link_to "EAD - Conteúdo e Metodologia para Educação a Distância", "ead.html", class: page_classes === "ead" ? "active" : "" %></li>
    <li class="set"><%= link_to "SET - Saraiva Sistema de Ensino Técnico", "set.html", class: page_classes === "set" ? "active" : "" %></li>
    <li class="ssa"><%= link_to "SSA - Saraiva Solução de Aprendizagem", "ssa.html", class: page_classes === "ssa" ? "active" : "" %></li>
  </ul>
</nav>
