<nav>
  <ul>
    <li><%= link_to "Aprendizagem Adaptativa", "/aprendizagem-adaptiva.html" %></li>
    <li><%= link_to "Bibliotéca Digital", "/biblioteca-digital.html" %></li>
    <li><%= link_to "EAD - Conteúdo e Metodologia para Educação a Distância", "/ead.html" %></li>
    <li><%= link_to "SET - Saraiva Sistema de Ensino Técnico", "/set.html" %></li>
    <li><%= link_to "SSA - Saraiva Solução de Aprendizagem", "/ssa.html" %></li>
  </ul>
</nav>
