---
title: Aprendizagem Adaptiva
name: aprendizagem-adaptiva
---

<section id="intro">
  <div class="content">
    <%= partial "breadcrumb", locals: { current_page: current_page.data.title } %>
    <%= partial "side_navigation", locals: { current_page: current_page.data.name } %>
    <header>
      <h2>Aprendizagem Adaptativa</h2>
      <h3>A solução ideal para acompanhar o desempenho de aprendizagem de cada aluno</h3>
    </header>
    <p>
      A <strong>Aprendizagem Adaptativa</strong>  é uma metodologia de aprendizagem que analisa o desempenho dos alunos em tempo real e oferece conteúdos de maneira personalizada de acordo com as necessidades de cada um. Por meio de uma plataforma online, oferece autonomia ao estudante e diagnósticos detalhados aos gestores.
      <br>
      Testes objetivos e contínuos de conhecimento são aplicados como forma de identiﬁcar pontos fracos. A plataforma também indica conteúdo em vídeo, além de textos, jogos e simuladores mais apropriados para aumentar o rendimento de cada aluno em determinadas disciplinas ou assuntos.
    </p>
  </div>
</section>

<div class="more">
  <%= fa_icon("angle-down") %>
  Conheça melhor a solução
  <%= fa_icon("angle-down") %>
</div>

<section id="points">
  <div class="content">
    <ol>
      <li>
        <%= image_tag "images/aprendizagem-adaptiva/tecnologia-educacional.png" %>
        <strong>Tecnologia educacional</strong> Atualizada para atender a necessidade de seus alunos e sua instituição.
      </li>
      <li>
        <%= image_tag "images/aprendizagem-adaptiva/conteudo.png" %>
        <strong>Conteúdo</strong> elaborado por autores e professores renomados, oferecido em formatos que buscam maior engajamento dos alunos.
      </li>
      <li>
        <%= image_tag "images/aprendizagem-adaptiva/relatorios.png" %>
        <strong>Relatórios</strong> de desempenho para acompanhar o aprendizado dos alunos, de forma individual, por turma e por unidade.
      </li>
      <li>
        <%= image_tag "images/aprendizagem-adaptiva/suporte.png" %>
        <strong>Suporte técnico, integração</strong> com o portal e <strong>customização</strong> para a identidade visual da instituição.
      </li>
    </ol>
  </div>
</section>

<section id="availability">
  <div class="content">
    <header>
      <h2>Disponível para os exames OAB 1ª Fase e ENADE</h2>
    </header>

    <article id="oab">
      <header>
        <h3>OAB 1ª Fase</h3>
      </header>

      <ul>
        <li>
          <%= image_tag(lorem.image("43x48")) %>
          <p>Simulados com questões da banca examinadora para diagnóstico da aprendizagem.</p>
        </li>

        <li>
          <%= image_tag(lorem.image("43x48")) %>
          <p>65 horas em vídeo para resolução de cada uma das questões apresentadas.</p>
        </li>

        <li>
          <%= image_tag(lorem.image("43x48")) %>
          <p>225 horas de aulas em vídeo voltadas para aprofundamento do aprendizado, tratando dos assuntos específicos e mais relevantes para o exame.</p>
        </li>

        <li>
          <%= image_tag(lorem.image("43x48")) %>
          <p>Curadoria do conteúdo realizada por autores, professores e coordenadores Saraiva, especializados nas diferentes disciplinas do direito.</p>
        </li>
      </ul>
    </article>

    <article id="">
      <header>
        <h3>Enade</h3>
        <h4>
          Exame Nacional de Desempenho de Estudantes.<br>
          A partir do 1º semestre de 2015
        </h4>
      </header>

      <ul>
        <li>
          <%= image_tag(lorem.image("43x48")) %>
          <p>Simulados com questões da banca examinadora para diagnóstico da aprendizagem.</p>
        </li>

        <li>
          <%= image_tag(lorem.image("43x48")) %>
          <p>Vídeos com resolução de questões e voltados para aprofundamento do aprendizado em temas e assuntos relevantes para o exame.</p>
        </li>

        <li>
          <%= image_tag(lorem.image("43x48")) %>
          <p>Aplicação de mecânica de jogos para maior engajamento dos alunos.</p>
        </li>
      </ul>
    </article>

    <%= partial "more_solution" %>
  </div>
</section>
