---
title: EAD - Educação a Distância
name: ead
---

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "ead" %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "biblioteca-digital" %>
<% end %>

<section id="intro">
  <div class="content">
    <%= partial "breadcrumb", locals: { current_page: current_page.data.title } %>
    <%= partial "side_navigation" %>
    <header>
      <h2>EAD - Educação a Distância</h2>
    </header>
    <p>A Saraiva apresenta sua solução para Educação a Distância, trazendo o que há de mais signiﬁcativo em novas formas de aprendizagem.</p>
    <p>Buscando oferecer uma solução completa para sua instituição, reunimos:</p>
    <ul class="list">
      <li>conteúdo de qualidade reconhecida, elaborado de acordo com as necessidades da instituição, que atende às demandas do MEC;</li>
      <li>tecnologia educacional de ponta;</li>
      <li>ótima relação custo/benefício;</li>
      <li>ﬂexibilidade: possibilidade de contratação individual de cont   impresso e digital, para atender a disciplinas avulsas que compõem os   20% dos cursos presenciais, ou de pacotes completos (cursos inteiros).</li>
    </ul>
  </div>
</section>

<div class="more go-to-anchor" data-target="#site">
  <%= fa_icon("angle-down") %>
  Conheça melhor a solução
  <%= fa_icon("angle-down") %>
</div>

<section id="site">
  <div class="content">
    <div class="gallery">
      <div class="gallery-content">
        <ul>
          <li><%= image_tag "ead/image-1.png" %></li>
          <li><%= image_tag "ead/image-1.png" %></li>
          <li><%= image_tag "ead/image-1.png" %></li>
      </div>

      <div class="jcarousel-pagination"></div>
    </div>
    <div class="more-info">
      <h2>Exemplos de conteúdos disponíveis:</h2>
      <ul class="list">
        <li>Todas as disciplinas dos cursos de graduação e pós-graduação de Direito e Gestão;</li>
        <li>Novas disciplinas conforme necessidade da instituição de ensino.</li>
      </ul>
    </div>
  </div>
</section>

<section id="methodology">
  <div class="content">
    <header>
      <h2>Metodologia e Conteúdo</h2>
    </header>

    <ul>
      <li>Aulas online interativas, fortemente apoiadas em casos e ilustrações.</li>
      <li>
      <p>Materiais didáticos escritos e validados por professores e curadoria baseada em <i>know-how</i> editorial de 100 anos da Saraiva.</p>
        <%= image_tag "ead/books.png" %>
      </li>
      <li class="ea8b2d">Atividades interativas e sociais que favorecem a construção coletiva de conhecimento e sugestões de tópicos importantes para discussão entre alunos e professores.</li>
      <li class="ec9f2e">Questões objetivas para avaliação de desempenho pontual. O <i>feedback</i> é automático e há encaminhamento para reforço quando necessário.</li>
      <li>Ampla variedade de objetos digitais para auxiliar o processo de aprendizagem: <i>games</i>, simuladores, infográﬁcos.</li>
      <li>Biblioteca digital em ePub, que proporciona melhor experiência de leitura em qualquer dispositivo e tamanho de tela, totalmente integrada às aulas online.</li>
      <li class="ea8b2d">Espaço dedicado ao professor, com sugestões de fóruns e atividades complementares.</li>
      <li class="e6792c">Guias para apoiar o processo de ensino-aprendizagem, com manuais de uso do ambiente virtual de aprendizagem (AVA), de como estudar a distância e também sobre etiqueta, antiplágio e outros temas essenciais à educação a distância.</li>
    </ul>
  </div>
</section>

<section id="highlights">
  <div class="content">
    <article id="technology">
      <header>
        <h2>Tecnologia</h2>
      </header>

      <ul>
        <li>
          <%= image_tag("icons/ebook.png") %>
          <p>Acesso de e-books acessados online via navegador web, sem instalação de aplicativos</p>
        </li>

        <li>
          <%= image_tag("icons/badge.png") %>
          <p>Design responsivo e customizado para a instituição</p>
        </li>

        <li>
          <%= image_tag("icons/computer.png") %>
          <p>Aulas online em formato HTML 5 e padrão SCORM</p>
        </li>

        <li>
          <%= image_tag("icons/platform.png") %>
          <p>Plataforma customizada e com integração do AVA</p>
        </li>

        <li>
          <%= image_tag("icons/usb.png") %>
          <p>Acesso virtual a guias de uso e de boas práticas</p>
        </li>

        <li>
          <%= image_tag("icons/hyperlink.png") %>
          <p><i>Hyperlinks</i> para os livros digitais no momento de apreensão do conteúdo</p>
        </li>
      </ul>
    </article>

    <article id="services">
      <header>
        <h2>Serviços</h2>
      </header>

      <ul>
        <li><%= fa_icon("check-circle") %> Suporte técnico, com tutoriais interativos e dicas de como aproveitar melhor o ambiente virtual de aprendizagem</li>
        <li><%= fa_icon("check-circle") %> Acompanhamento do progresso do aluno</li>
        <li><%= fa_icon("check-circle") %> Consultoria acadêmica: ﬂexibilidade na construção de novos conteúdos e customização e tutoriais para professores e alunos</li>
        <li><%= fa_icon("check-circle") %> Capacitação técnica e suporte administrativo</li>
        <li><%= fa_icon("check-circle") %> Cadastro do conteúdo digital estruturado e customizável</li>
        <li><%= fa_icon("check-circle") %> Integração LMS/Sistema de Gestão Acadêmica, com gestor dedicado à implantação da solução</li>
        <li><%= fa_icon("check-circle") %> Proposta de tutoria baseada em docência</li>
      </ul>
    </article>
    <%= partial "more_solution" %>

    <%= image_tag "ead/model.png", class: "model" %>
  </div>
</section>

<% content_for :javascripts do %>
  <%= javascript_include_tag "jcarousel" %>
  <script>
    $(function() {
      $('.gallery-content').jcarousel();
      $('.gallery-content').on('jcarousel:create jcarousel:reload', function() {
        var element = $(this),
            width = element.innerWidth();

        // This shows 1 item at a time.
        // Divide `width` to the number of items you want to display,
        // eg. `width = width / 3` to display 3 items at a time.
        element.jcarousel('items').css('width', width + 'px');
      });
      $('.gallery-content').jcarouselAutoscroll({
        autostart: true
      });

      $('.jcarousel-pagination')
      .on('jcarouselpagination:active', 'a', function() {
              $(this).addClass('active');
      })
      .on('jcarouselpagination:inactive', 'a', function() {
          $(this).removeClass('active');
      })
      .jcarouselPagination({
        item: function(page) {
          return '<a href="#' + page + '">' + page + '</a>';
        }
      });
    });
  </script>
<% end %>
