---
title: Index - Soluções Educacionais Saraiva
---
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "home" %>
<% end %>

<section id="saraiva-education">
  <div class="home-carousel">
    <div class="carousel">
      <ul>
        <li>
          <div class="item ssa">
            <h2>
              <strong>SSA – Saraiva Solução de Aprendizagem</strong> <br>
              A essência das ferramentas <br> de aprendizagem ativa.
            </h2>
            <%= link_to "Saiba mais", "ssa.html", class: "more" %>
            <%= image_tag("carousel/slide-2.png") %>
          </div>
        </li>

        <li>
          <div class="item">
            <h2>Soluções Educacionais <strong>Saraiva</strong> <br>para a Educação Superior</h2>
            <%= image_tag("carousel/slide-1.png") %>
          </div>
        </li>
      </ul>
    </div>

    <%= link_to image_tag("carousel/prev.png"), "#", class: "jcarousel-prev" %>
    <%= link_to image_tag("carousel/next.png"), "#", class: "jcarousel-next" %>
    <%= link_to image_tag("carousel/down.png"), "#", class: "arrow-down go-to-anchor", data: { target: "#start" } %>
  </div>
  <div class="content" id="start">
    <header>
      <h2>
        Soluções Educacionais Saraiva: <br>
        Conteúdo, Tecnologia e Serviços
      </h2>
    </header>

    <ol>
      <li class="adaptive-learning">
        <strong>Aprendizagem Adaptativa</strong>
        <p>A solução ideal para acompanhar o desempenho de aprendizagem de cada aluno.</p>
      </li>

      <li class="digital-library">
        <strong>Biblioteca Digital</strong>
        <p>Acervo de conteúdos digitais Saraiva paraa nova geração de leitores.</p>
      </li>

      <li class="ead">
        <strong>EAD - Educação a Distância</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam nullam.</p>
      </li>

      <li class="set">
        <strong>SET - Saraiva Sistema de Ensino Técnico</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quam nullam.</p>
      </li>

      <li class="ssa">
        <strong>SSA - Soluções de Aprendizagem Saraiva</strong>
        <p>A essência das ferramentas de aprendizagem ativa.</p>
      </li>
    </ol>

    <ul class="actions">
      <li><%= link_to "Conheça nossas soluções", "", class: "solutions" %></li>
      <li><%= link_to "Se preferir, envie-nos uma mensagem", "contato.html", class: "message" %></li>
    </ul>
  </div>
</section>

<section id="points">
  <div class="content">
    <header>
      <h2>Porque escolher a <strong>Saraiva</strong></h2>
    </header>

    <%= image_tag "model.png", alt: "Soluções Educacionais Saraiva - Educação Superior", class: "model" %>

    <ol>
      <li class="expertise">
        <%= fa_icon("check-circle") %>
        Experiência em conteúdos da área universitária aliada à agilidade e flexibilidade e estrutura organizacional que só uma empresa com 100 anos pode oferecer.
      </li>
      <li class="portfolio">
        <%= fa_icon("check-circle") %>
        Portfólio com as soluções mais completas do mercado, unindo tecnologia e serviços inovadores.
      </li>
      <li class="graduation-solutions">
        <%= fa_icon("check-circle") %>
        Soluções desenhadas sob medida para as instituições de Educação Superior.
      </li>
      <li class="warranty">
        <%= fa_icon("check-circle") %>
        Capacidade de execução e garantia de entrega no prazo, com a melhor relação custo/benefício.
      </li>
      <li class="classroom-experience">
        <%= fa_icon("check-circle") %>
        Conteúdos desenvolvidos por grandes nomes da educação, com experiência em sala de aula.
      </li>
    </ol>
  </div>
</section>

<% content_for :javascripts do %>
  <%= javascript_include_tag "jcarousel" %>
  <script>
    $(function() {
      $('.carousel').jcarousel({
        wrap: 'circular'
      });

      $('.carousel')
        .on('jcarousel:create jcarousel:reload', function() {
            var element = $(this),
                width = element.innerWidth();

            // This shows 1 item at a time.
            // Divide `width` to the number of items you want to display,
            // eg. `width = width / 3` to display 3 items at a time.
            element.jcarousel('items').css('width', width + 'px');
        })
        .jcarousel({
            // Your configurations options
        });

      $('.carousel').jcarouselAutoscroll({
        autostart: true
      });

      $('.jcarousel-prev').jcarouselControl({
        target: '-=1'
      });

      $('.jcarousel-next').jcarouselControl({
          target: '+=1'
      });
    });
  </script>
<% end %>
