---
title: SET - Saraiva Sistema de Ensino Técnico
name: set
---

<section id="intro">
  <div class="content">
    <%= partial "breadcrumb", locals: { current_page: current_page.data.title } %>
    <%= partial "side_navigation" %>
    <header>
      <h2>EAD - Conteúdo e Metodologia para educação a distância</h2>
    </header>
    <p>
      O <strong>Saraiva Sistema de Ensino Técnico</strong> (SET) reúne os mais relevantes serviços, conteúdos e tecnologias para atender ao Programa Nacional de Acesso ao Ensino Técnico e EmpregoPronatec). Reconhecendo as particularidades do programa, o SET proporciona à instituiçãogerenciamento completo, da adesão ao SISTEC às estratégias para redução da evasão.
      <br>
      O SET oferece uma ótima relação custo/benefício e as melhores práticas para diferenciar os estudantes no mercado de trabalho.
    </p>
  </div>
</section>

<div class="more">
  <%= fa_icon("angle-down") %>
  Conheça melhor a solução
  <%= fa_icon("angle-down") %>
</div>

<section id="solutions">
  <div class="content">
    <header>
      <h2>Confira as soluções disponíveis</h2>
    </header>

    <div class="material">
      <h3>MATERIAL DIDÁTICO</h3>

      <ul>
        <li>Modular com opções de livros, e-books e apostilas (5 em 1);</li>
        <li>Em conformidade com  o CNCT.</li>
      </ul>
    </div>

    <div class="technology">
      <h3>TECNOLOGIA EDUCACIONAL</h3>

      <ul>
        <li>Mais de 10.000 questões, ideal para avaliações unificadas;</li>
        <li>Plataforma responsiva para leitura online;</li>
        <li>Plataforma responsiva para leitura online;</li>
        <li>Disciplinas EaD avulsas;</li>
        <li>Biblioteca Digital para professores e alunos.</li>
      </ul>
    </div>

    <div class="coach">
      <h3>CONSULTORIA OPERACIONAL E REGULATÓRIA</h3>

      <ul>
        <li>Suporte de legislação e regras do Pronatec;</li>
        <li>Diagnóstico de mercado, desde o dimensionamento da oferta de vagas até o modelo de negócio.</li>
        <li>Acompanhamento da adesão ao SISTEC;</li>
      </ul>
    </div>

    <div class="">
      <h3>ASESSORIA PEDAGÓGICA</h3>

      <ul>
        <li>Elaboração de PPCs;</li>
        <li>Formação de professores focada no Pronatec;</li>
        <li>Definição de matrizes;</li>
        <li>Acompanhamento contínuo do programa na instituição.</li>
      </ul>
    </div>

    <%= partial "more_solution" %>
  </div>
</section>
